@model IEnumerable<ClothX.DbModels.ClientOrder>

@{
	ViewData["Title"] = "MyOrders";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css" />

<h1>My Orders</h1>

<p>
	<a asp-action="PlaceOrder">Place an Order</a>
</p>

<partial name="ClientOrdersPartialView" model="Model"/>

<script defer src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script defer src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>

<script>
	$(document).ready(function () {
		$('.data-table').DataTable({
			responsive: true,
		});
	});
</script>