@model ClothX.DbModels.Review

@{
	Layout = null;
}

<div class="modal fade" id="FeedbackModal" tabindex="-1" aria-labelledby="FeedbackModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="FeedbackModalLabel">Provide Feedback</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form asp-controller="Feedback" asp-action="Create" method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>

					<input name="CurrentUrl" id="CurrentUrl" value="@ViewBag.CurrentUrl" hidden />

					<div class="form-group">
						<label asp-for="Message" class="control-label"></label>
						<input asp-for="Message" class="form-control" required/>
						<span asp-validation-for="Message" class="text-danger"></span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<input type="submit" value="Save" class="btn btn-primary" />
					</div>
				</form>
					

			</div>

		</div>
	</div>
</div>
