@page "/Account/ResetPassword"
@model ResetPasswordModel
@{
	ViewData["Title"] = "Reset password";
	ViewBag.TitleText = "Reset Your Password";
	ViewBag.MainDivClass = "col-lg-4 offset-lg-4";
	Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<form method="post" style="margin-top: 80px;">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="md-form md-outline form-lg form-floating">
		<input class="form-control form-control-lg" asp-for="Input.Email" style="font-size: 16px;">
		<label class="form-lg" asp-for="Input.Email" style="font-size: 16px;">Email</label>
		<span class="field-validation-valid text-danger" asp-validation-for="Input.Email" style="font-size: 16px;"></span>
	</div>

	<div class="md-form md-outline form-lg form-floating">
		<input class="form-control form-control-lg" asp-for="Input.Password" autocomplete="new-password" style="font-size: 16px;">
		<label class="form-lg" asp-for="Input.Password" style="font-size: 16px;">Password</label>
		<span class="field-validation-valid text-danger" asp-validation-for="Input.Password" style="font-size: 16px;"></span>
	</div>

	<div class="md-form md-outline form-lg form-floating">
		<input class="form-control form-control-lg" asp-for="Input.ConfirmPassword" autocomplete="new-password" style="font-size: 16px;">
		<label class="form-lg" asp-for="Input.ConfirmPassword" style="font-size: 16px;">Confirm Password</label>
		<span class="field-validation-valid text-danger" asp-validation-for="Input.ConfirmPassword" style="font-size: 16px;"></span>
	</div>


	<br>
	<div style="flex-flow: column-reverse;display: flex;justify-content: space-between;align-items: center;">
		<a href="./Login" style="font-weight: bolder; text-decoration: none;">Sign in instead</a>
		<br>
		<button type="submit" value="Reset Password" class="btn account-btn btn-block btn-md waves-effect waves-light" style="height: 48px !important; font-size: 14px !important; width: 100% !important;">
			Reset Password
		</button>
	</div>
	<br>
</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
