<nlog internalLogFile="c:\nlog-internal.txt" internalLogLevel="Trace" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">


	<targets>
		<!--<target name="logfile" xsi:type="File" fileName="logs/${shortdate}.log"
            layout="${longdate} ${level} ${message}" />-->

		<target xsi:type="File" name="logfile" fileName="logs\${shortdate}.csv"
			layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
		<target xsi:type="Console" name="logconsole"
				layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />

		<target xsi:type="Database" name="logdatabase"
        dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
        connectionString="Server=(local); Database=ClothXDb; Integrated Security=True; TrustServerCertificate=True"
		commandText="INSERT INTO Logs (date,level,message,machinename,logger) VALUES
		(@date, @level, @message, @machinename, @logger);">

			<parameter name="@date" layout="${longdate}" dbType="DateTime" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@machinename" layout="${machinename}" />
		</target>


	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="logdatabase" />
	</rules>
</nlog>